:root {
	--background: #f1f1f1;
	--primary: #9999FF;
}

html {
	background-color: var(--background);
}

html, body, p, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

.border {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	margin: 1px;
}

.page-container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.left-column {
	width: 33%;
	background-color: white;
	float: left;
	border-radius: 8px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.head-container {
	position: relative;
}

.head-container h2 {
	position: absolute;
	bottom: 0px;
	left: 20px;
	z-index: 100;
	padding: 8px;
	background-color: #FFFFFFBB;
}

.head-shot {
	width: 100%;
	border-radius: 8px 8px 0px 0px;
}

.info {
	margin: 8px;
}

.margin-right {
	margin-right: 8px;
}

.skills {
	margin: 8px;
}

.skill-bar {
	background-color: var(--background);
	border-radius: 16px;
}

.skill-bar-fill {
	background-color: var(--primary);
	text-align: center;
	border-radius: 16px;
}

.lang {
	margin: 8px;
}

.lang .title {
	font-size: 24px;
}

.right-column {
	float: right;
	width: 66%;
}

.top-right {
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 16px;
	border-radius: 8px;
}

.work-exp-title {
	font-size: x-large;
}

.work-exp-time {
	font-size: large;
	margin-top: -25px;
}

.bottom-right {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: white;
	padding: 16px;
	margin: 16px 0px;
	border-radius: 8px;
}

.school-container {
	margin: 0px 16px;
}

.school-name {
	font-size: x-large;
	margin: 0px;
}

.school-time {
	font-size: large;
}

.projects {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background-color: white;
	margin: 16px 0px;
	padding: 16px;
	border-radius: 8px;
}

.projects-container {
	width: fit-content;
	display: flex;
	margin: auto;
}

.project {
	max-width: 164px;
	border-radius: 16px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 0px 8px;
	margin: 0px 16px;
	text-align: center;
	text-decoration: none;
	color: black;
}

.project:hover {
	background-color: var(--primary);
}